* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
img {
}
.main {
  background: url(../img/fundotela3.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  transition: 0.3s;
  background: transparent;
  border-radius: 3px;
}
.card h2 {
  font-family: "Zen Dots", cursive;
  color: #fff;
}
.card button a {
  color: #fff;
}
.card button {
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  font-family: "Zen Dots", cursive;
  cursor: pointer;
  background: #482e62;
  border: none;
  border-radius: 4px;
}
.card button:hover {
  background: #482e62;
  transition: 1.3s;
  border: 1px solid #fff;
}
.card img {
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
